@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
    font-family: 'PlusJakartaSans';
    src: url('/public/font/PlusJakartaSans.ttf') format('truetype');
    font-weight: bold;
    font-style: normal;
}

body {
    font-family: 'PlusJakartaSans', sans-serif;
}

.navbar-glass{
    background: rgba( 255, 255, 255, 0.25 );
    box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37 );
    backdrop-filter: blur( 5px );
    -webkit-backdrop-filter: blur( 5px );
    border: 1px solid rgba( 255, 255, 255, 0.18 );
    position: sticky;
    top: 0;
    z-index: 50;
}

.btn-line {
    background-color: transparent;
    border: solid 1px #FF6D0B;
    border-radius: 8px;
    color: #FF6D0B;
}

.btn-line:hover {
    background-color: #FF6D0B;
    color: white;
}